:root {
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    COLOR:#FFF;
}

/*********************** HEADER ***********************/

header h2 {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
    margin-left: 5px;
}

nav a {
    text-decoration: none;
    color: #AAA;
    margin-left: 10px;
}

nav a:hover {
    color: #fff;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}